body {
    font-family: Arial, sans-serif;
    background-color: #f8f8fd;
    color: #412cfe;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#imcApp {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #1f3247;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el conversor de divisas */
#convertirmoneda {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #060707;
    border-radius: 5px;
}

/* Estilos para la aplicación de notas */
#nueva-nota, #contenedor-notas, #buscar {
    margin: 20px;
}

#nueva-nota {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nota {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

button {
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #1f3247;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button.borrar {
    background-color: #c0392b;
}

button.borrar:hover {
    background-color: #e74c3c;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

#buscar {
    margin: 20px 0;
}

#buscar input {
    width: calc(100% - 40px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

#buscar label {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}


/* Estilo para las notas realizadas */
.marcarRealizadah3,
.marcarRealizada p {
    text-decoration: line-through;
}
